{% extends "base.html" %}
{% block content %}
	<br>
	<div class="jumbotron">
		<center><h1>Student Analytics</h1></center>
	</div>
	<br>
	<div class="jumbotron">
		<h2>We Welcome you to the Student life</h2>
		<h2><b>Here: </b></h2><h3>
		<b>1) </b>You can analyse a student's performance. From attendance in class to participation in a club, from organizing an event to attending a workshop.<br><br>
		<b>2) </b>We consider all the aspects that prove a student to be worthy. <br><br>
		<b>3) </b>We give a teacher an apt analysis on a student considering all the aspects we have. <br><br>
		<b>4) </b>We provide you with a Graphical Visualization of that student's work, which is easy to understand and assess the student quickly. We give weightage to each parameter and based on the overall weightage he currently has, the student is judged whether he is up to the plausible mark or not.</h3>
	</div>
{% endblock %}
