{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="opacity:0.85;color:#e7e7e7;margin-top:180px;margin-left:150px;margin-right:150px;padding-left:40px;background-color:#BB3D3D">
    <center><h2>Narrow your search by batch :- </h2> </center>
</div>
<center>
<div style="opacity:0.95;margin-top:2%;margin-top:20px;margin-right:250px;margin-left:250px;padding-top:20px;padding-bottom:20px;background-color:beige" >
<div>
    <a href="{% url 'analyze:year1' %}"><button class="btn1 button1 inlin" style="margin-right:40px" > UG1 </button></a>
    <a href="{% url 'analyze:year1' %}"><button class="btn1 button2 inlin" style="margin-right:40px"> UG2 </button></a>
    <a href="{% url 'analyze:year1' %}"><button class="btn1 button3 inlin" style="margin-right:40px"> UG3 </button></a>
    <a href="{% url 'analyze:year1' %}"><button class="btn1 button4 inlin" > UG4 </button></a>
</div>
</div>
</center>
{% endblock %}
